{% extends 'layouts/layout.html' %}

{% load static %}

{% block content %}

    <section class="varify_wrapper"
     style="
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        border-radius: 10px;
        width: fit-content;
        background: white;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        ">
        <div class="container">
            <div class="row card_row">
                <div class="col-md-10 shadow offset_md-1 col-lg-6 offset-lg-3 col-sm-12 m-auto bg-white card_item">
                    <div class="login_card"
                        style="
                            text-align: center;
                        "
                    >
                        <img src="https://foundersnetwork.com/img/logo.png"
                            style="height: 70px;object-fit: contain;"
                        />

                        <h3 class="registration_subtitle"
                            style="font-size: 20px;"
                        >Please click on link below to change your password</h3>
                        <a class="btn varify_btn text-white btn-primary"
                         {% comment %} style="font-size: 16px;" {% endcomment %}
                            href = "{{address}}"
                        >{{address}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}