.vitamen_header{
    padding: 20px 30px;
    .header_brand{
        display: block;
    }
    .logo{
        height: 70px;
        object-fit: contain;
    }
    .navbar-show-btn{
        display: none;
    }
    .title{
        font-weight: bold;
    }
    .user_img{
        height: 70px;
        object-fit: contain;
    }

    .menu-btn.navbar-show-btn {
        height: 25px;
        object-fit: contain;
        cursor: pointer;
    }
}


.toast_wrapper{
    background-color: #a3cfbb;
    width: fit-content;
    padding: 20px 30px;
    position: fixed;
    border-radius: 10px;
    right: 0;
    bottom: 10px;
    animation: toast-right-in .5s;
    &.hide{
        display: none;
    }
    &.show{
        display: block;
    }
    &.error{
        background-color: var(--error);
        color: var(--error-text);
    }
    &.success{
        background-color: var(--success);
        color: var(--success-text);
    }
    &.warning{
        background-color: var(--warning);
        color: var(--warning-text);
    }
    .title{
        display: flex;
        gap: 10px;
    }
    svg{
        height: 20px;
        object-fit: contain;
        width: fit-content;
        align-self: center;
        // justify-self: center;
        margin-bottom: 10px;
    }
}

@keyframes toast-right-in{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
