.varify_wrapper .login_card {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
}
.card_item{
    border-radius: 20px;
}

.varify_wrapper .card_row {
    height: 100vh;
    width: 100%;
    /* background: orange; */
}
.varify_btn{
    width: 70%;
}