{% load static %}
<!DOCTYPE html>
<html
  lang="en"
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
>
  <head>
    <meta charset="utf-8" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="format-detection"
      content="telephone=no, date=no, address=no, email=no"
    />

    <title>Welcome to ECY 👋</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700"
      rel="stylesheet"
      media="screen"
    />
    <style>
      .hover-underline:hover {
        text-decoration: underline !important;
      }
      @media (max-width: 600px) {
        .sm-w-full {
          width: 100% !important;
        }
        .sm-px-24 {
          padding-left: 24px !important;
          padding-right: 24px !important;
        }
        .sm-py-32 {
          padding-top: 32px !important;
          padding-bottom: 32px !important;
        }
        .sm-leading-32 {
          line-height: 32px !important;
        }
      }
    </style>
  </head>
  <body
    style="
      margin: 0;
      width: 100%;
      padding: 0;
      word-break: break-word;
      -webkit-font-smoothing: antialiased;
      background-color: #eceff1;
    "
  >
    <div
      style="
        font-family: 'Montserrat', sans-serif;
        mso-line-height-rule: exactly;
        display: none;
      "
    >
      We are please to welcome you to ECY
    </div>
    <div
      role="article"
      aria-roledescription="email"
      aria-label="Welcome to ECY 👋"
      lang="en"
      style="
        font-family: 'Montserrat', sans-serif;
        mso-line-height-rule: exactly;
      "
    >
      <table
        style="
          width: 100%;
          font-family: Montserrat, -apple-system, 'Segoe UI', sans-serif;
        "
        cellpadding="0"
        cellspacing="0"
        role="presentation"
      >
        <tr>
          <td
            align="center"
            style="
              mso-line-height-rule: exactly;
              background-color: #f9f2f1;
              font-family: Montserrat, -apple-system, 'Segoe UI', sans-serif;
            "
          >
            <table
              class="sm-w-full"
              style="width: 600px"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <tr>
                <td
                  class="sm-py-32 sm-px-24"
                  style="
                    mso-line-height-rule: exactly;
                    padding: 48px;
                    text-align: center;
                    font-family: Montserrat, -apple-system, 'Segoe UI',
                      sans-serif;
                  "
                >
                  <a
                    href="https://www.empoweringconfidentyouth.app/"
                    style="
                      font-family: 'Montserrat', sans-serif;
                      mso-line-height-rule: exactly;
                    "
                  >
                    <img
                      src="https://iili.io/E51s1f.png"
                      width="250"
                      alt="ECY Admin"
                      style="
                        max-width: 100%;
                        vertical-align: middle;
                        line-height: 100%;
                        border: 0;
                      "
                    />
                  </a>
                </td>
              </tr>
              <tr>
                <td
                  align="center"
                  class="sm-px-24"
                  style="
                    font-family: 'Montserrat', sans-serif;
                    mso-line-height-rule: exactly;
                  "
                >
                  <table
                    style="width: 100%"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                  >
                    <tr>
                      <td
                        class="sm-px-24"
                        style="
                          mso-line-height-rule: exactly;
                          border-radius: 4px;
                          background-color: #ffffff;
                          padding: 48px;
                          text-align: left;
                          font-family: Montserrat, -apple-system, 'Segoe UI',
                            sans-serif;
                          font-size: 16px;
                          line-height: 24px;
                          color: #626262;
                        "
                      >
                        <p
                          style="
                            font-family: 'Montserrat', sans-serif;
                            mso-line-height-rule: exactly;
                            margin-bottom: 0;
                            font-size: 20px;
                            font-weight: 600;
                          "
                        >
                          Hey
                        </p>
                        <p
                          style="
                            font-family: 'Montserrat', sans-serif;
                            mso-line-height-rule: exactly;
                            margin-top: 0;
                            font-size: 24px;
                            font-weight: 700;
                            color: #ff5850;
                          "
                        >
                            {{ email }}
                        </p>
                        <p
                          class="sm-leading-32"
                          style="
                            font-family: 'Montserrat', sans-serif;
                            mso-line-height-rule: exactly;
                            margin: 0;
                            margin-bottom: 24px;
                            font-size: 24px;
                            font-weight: 600;
                            color: #263238;
                          "
                        >
                          Welcome 🏆
                        </p>

                        <p
                          style="
                            font-family: 'Montserrat', sans-serif;
                            mso-line-height-rule: exactly;
                            margin-bottom: 30px;
                            font-size: 18px;
                            font-weight: 500;
                          "
                        >
                          Welcome to Empowering Confident Youth! We are
                          committed to helping young people gain the confidence
                          they need to turn their dreams into actions. Thank you
                          so much for joining our unique programs.
                        </p>

                        <table
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                        >
                          <tr>
                            <td
                              style="
                                mso-line-height-rule: exactly;
                                mso-padding-alt: 16px 24px;
                                border-radius: 4px;
                                background-color: #9a494d;
                                font-family: Montserrat, -apple-system,
                                  'Segoe UI', sans-serif;
                              "
                            >
                              <a
                                href="https://www.empoweringconfidentyouth.app/"
                                style="
                                  font-family: 'Montserrat', sans-serif;
                                  mso-line-height-rule: exactly;
                                  display: block;
                                  padding-left: 24px;
                                  padding-right: 24px;
                                  padding-top: 16px;
                                  padding-bottom: 16px;
                                  font-size: 16px;
                                  font-weight: 600;
                                  line-height: 100%;
                                  color: #ffffff;
                                  text-decoration: none;
                                "
                                >Browse ECY &rarr;</a
                              >
                            </td>
                          </tr>
                        </table>
                        <table
                          style="width: 100%"
                          cellpadding="0"
                          cellspacing="0"
                          role="presentation"
                        >
                          <tr>
                            <td
                              style="
                                font-family: 'Montserrat', sans-serif;
                                mso-line-height-rule: exactly;
                                padding-top: 32px;
                                padding-bottom: 32px;
                              "
                            >
                              <div
                                style="
                                  font-family: 'Montserrat', sans-serif;
                                  mso-line-height-rule: exactly;
                                  height: 1px;
                                  background-color: #eceff1;
                                  line-height: 1px;
                                "
                              >
                                &zwnj;
                              </div>
                            </td>
                          </tr>
                        </table>
                        <p
                          style="
                            font-family: 'Montserrat', sans-serif;
                            mso-line-height-rule: exactly;
                            margin: 0;
                            margin-bottom: 16px;
                          "
                        >
                          Not sure why you received this email? Please
                          <a
                            href="mailto:support@example.com"
                            class="hover-underline"
                            style="
                              font-family: 'Montserrat', sans-serif;
                              mso-line-height-rule: exactly;
                              color: #faa4a3;
                              text-decoration: none;
                            "
                            >let us know</a
                          >.
                        </p>
                        <p
                          style="
                            font-family: 'Montserrat', sans-serif;
                            mso-line-height-rule: exactly;
                            margin: 0;
                            margin-bottom: 16px;
                          "
                        >
                          Thanks, <br />The ECY Team
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          font-family: 'Montserrat', sans-serif;
                          mso-line-height-rule: exactly;
                          height: 20px;
                        "
                      ></td>
                    </tr>
                    <tr>
                      <td
                        style="
                          mso-line-height-rule: exactly;
                          padding-left: 48px;
                          padding-right: 48px;
                          font-family: Montserrat, -apple-system, 'Segoe UI',
                            sans-serif;
                          font-size: 14px;
                          color: #eceff1;
                        "
                      >
                        <p
                          align="center"
                          style="
                            font-family: 'Montserrat', sans-serif;
                            mso-line-height-rule: exactly;
                            margin-bottom: 16px;
                            cursor: default;
                          "
                        >
                          <a
                            href="https://www.facebook.com/"
                            style="
                              font-family: 'Montserrat', sans-serif;
                              mso-line-height-rule: exactly;
                              color: #263238;
                              text-decoration: none;
                            "
                            ><img
                              src="https://cdn-icons-png.flaticon.com/512/124/124010.png"
                              width="17"
                              alt="Facebook"
                              style="
                                max-width: 100%;
                                vertical-align: middle;
                                line-height: 100%;
                                border: 0;
                                margin-right: 12px;
                              "
                          /></a>
                          &bull;
                          <a
                            href="https://twitter.com/"
                            style="
                              font-family: 'Montserrat', sans-serif;
                              mso-line-height-rule: exactly;
                              color: #263238;
                              text-decoration: none;
                            "
                            ><img
                              src="https://cdn-icons-png.flaticon.com/512/124/124021.png"
                              width="17"
                              alt="Twitter"
                              style="
                                max-width: 100%;
                                vertical-align: middle;
                                line-height: 100%;
                                border: 0;
                                margin-right: 12px;
                              "
                          /></a>
                          &bull;
                          <a
                            href="https://www.instagram.com/"
                            style="
                              font-family: 'Montserrat', sans-serif;
                              mso-line-height-rule: exactly;
                              color: #263238;
                              text-decoration: none;
                            "
                            ><img
                              src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png"
                              width="17"
                              alt="Instagram"
                              style="
                                max-width: 100%;
                                vertical-align: middle;
                                line-height: 100%;
                                border: 0;
                                margin-right: 12px;
                              "
                          /></a>
                        </p>
                        <p
                          style="
                            font-family: 'Montserrat', sans-serif;
                            mso-line-height-rule: exactly;
                            color: #263238;
                          "
                        >
                          Use of our service and website is subject to our
                          <a
                            href="https://www.empoweringconfidentyouth.app/"
                            class="hover-underline"
                            style="
                              font-family: 'Montserrat', sans-serif;
                              mso-line-height-rule: exactly;
                              color: #faa4a3;
                              text-decoration: none;
                            "
                            >Terms of Use</a
                          >
                          and
                          <a
                            href="https://www.empoweringconfidentyouth.app/"
                            class="hover-underline"
                            style="
                              font-family: 'Montserrat', sans-serif;
                              mso-line-height-rule: exactly;
                              color: #faa4a3;
                              text-decoration: none;
                            "
                            >Privacy Policy</a
                          >.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td
                        style="
                          font-family: 'Montserrat', sans-serif;
                          mso-line-height-rule: exactly;
                          height: 16px;
                        "
                      ></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
